{% extends "_layout.html" %}
{% block title %} Φίδι με γάτα {% endblock %}
{% block main %}
<div class="home-container">
    <div class="glass"></div>
    <div class="home-text">
        <iframe
            id="fidi"
            width="1280px"
            height="720px"
            src="https://www.youtube.com/embed/grnHRff0K8g?start=3&controls=0&autoplay=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
</div>
{% endblock main %}
