{% extends "_layout.html" %} {% block title %}Login{% endblock %}
{% block main %}

<div class="login-container">
    <h1>Welcome</h1>

    <form class="form" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit" id="login-button">Login</button>
    </form>
    {# get the flash messages #}
    {# {% with messages = get_flashed_messages() %} #}
    {# check if there are any messages #}
    {# {% if messages %} #}
    {# need the for because get_flashed_messages() returns list #}
    {% for message in get_flashed_messages() %}
    <div class="flashes">{{ message }}</div>
    {% endfor %}
    {# {% endif %} #}
    {# {% endwith %} #}
</div>

{% endblock main %}
